body {
  margin: 0;
  background-image: radial-gradient(circle, #b5a4f4, #af9df7, #aa96fa, #a390fc, #9d89ff);
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-wrappler {
  margin: 3rem;
  padding: 1rem 2.2rem 5rem 2.2rem;
  background-image: radial-gradient(circle, #ffffff, #f3f3f3, #e8e8e8, #ffffffd3, #ffffffbe);
  border-radius: 30px;
}

.mini-info {
  width: 8rem;
  max-width: 8rem;
  min-width: 7rem;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #9d89ff;
  border: 3px none #16a3e9;
  border-radius: 48px;
}
::-webkit-scrollbar-thumb:hover {
  background: #856dfd;
}
::-webkit-scrollbar-thumb:active {
  background: #856dfd;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 3px none #b01111;
  border-radius: 28px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


@media screen and (max-width: 480px) {
  .app-wrappler {
    margin: .1rem;
    padding: 1rem .1rem 3rem .1rem;
  }
}